/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* Global styles 
------------------------------------*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
margin: 0;
font-size: 20px;
/* text-align: justify; */
}
.btn {
    text-decoration: none;
    background: blue;
    color: white;
    padding: 10px;
    display: inline-block;
}
.btn:hover {
    background: #EF233C;
}
.down {
    position: absolute;
    bottom: 0;
    right: 0;
}
.contentwrap{
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: hidden;
}
h1, h2{
    font-family:'kalam', 'cursive';
    font-weight: 400;
}
h1{
    font-size: 80px;
}
h2 {
    font-size: 40px;
    margin-top: 0;
}
h3{
    font-family: 'Gabriela', serif;
    margin: 0;
    font-size: 25px;
    
}

a{
    color: #EF233C;
}
a:hover {
    text-decoration: none;
}
/* Header & Footer 
------------------------------------*/
header, footer {
    background: #2B2D42;
    color: #EDF2F4;
    
}
.img {
    border-radius: 50%;
    
}
header {
    padding-top: 50px;
    position: relative;
}
header h1, header h2 {
    margin: 0;
    color: #EDF2F4;
}

nav {
    text-align: center;
    background: #EDF2F4;
    top: 0;
    width: 100%;
    position: fixed;

}
nav a{
    font-family: 'Gabriela', serif;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}
nav a:hover {
    text-shadow: 2px 2px 5px blue;
}
p, li{
    text-align: justify;
}
/* Work Experience
------------------------------------*/
.work {
    background: #EDF2F4;
}

h3 ~ p{
    margin: 0;
}
.job {
    margin-bottom: 25px;
}
.job p:first-of-type {
    margin-top: 0;
}


/* Education
------------------------------------*/
.education { 
background: linear-gradient(rgba(75, 55, 64, 0.8), rgba(80, 48, 72, 0.5)),
          url(Images/Education.jpg) no-repeat fixed;
background-size: cover;
color:rgb(255, 162, 0);
}
p + h3 {
    margin-top: 30px;
}
/* Certificates 
--------------------------------------*/

.certificates{ 
    background: linear-gradient(rgba(75, 55, 64, 0.8), rgba(80, 48, 72, 0.5)),
              url(Images/certification.jpg) no-repeat fixed;
    background-size: cover;
    color:rgb(46, 216, 66);
    }
    p + h3 {
        margin-top: 30px;
    }
/* footer */
footer {
    text-align: center;
}
.contact a {
    padding: 10px;
    display: inline-block;
    

}


.contact{
    margin-top: -30px;
}
/* Media */
@media (min-width: 900px){
    .small-colom{
        width: 30%;
        float: left;

    }
    .wide-colom{
     width: 70%;
     float: left;
     padding-left: 20px;
    }
}
@media(max-width: 899px){
    header{
        text-align: center;

    }
 .img{
    width: 200px;
 }
}
